
//bootstrap sass file 
@import "../../node_modules/bootstrap/scss/bootstrap.scss"; 

//bootstrap icons file 
@import "bootstrap-icons/font/bootstrap-icons.css" ;

.home-page, .home-page .container {
    color:#fff;
    min-height: 100vh;
    background-image:linear-gradient(to bottom, rgba(175, 183, 229, 0.803), rgba(251, 204, 239, 0.73)), url('/public/home.avif'); 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

//about page 
.about {
    min-height:100vh ;
    
}
.users-page{
    min-height: 100vh;
}
.login-page {
    min-height: 100vh;
}
.details {
    min-height: 100vh;
    .container {
        height:100% !important;
    }
}
.real-users {
    min-height: 100vh ;;
}
.mail {
    font-size: 0.75em;
}
@media (min-width:768px) {
    .login-page{
        form {
            width:60% ;
            margin:1rem auto ;
        }
    }
}